$TheProjectsBg: #FCF9EC;
$TheProjectsBar: #FFFFFF;
$TheProjrctsCardBg: #DAF4F5;
$TheProjrctsCardContentBg: #FFFFFF;
$TheProjrctsCard: rgba(192,220,224,0.5);
$TheProjrctsStatue: #ACDCEE;
$TheProjectsIcon: #0096FF;
$CardProjectInfoTitleBg: #F3F9F1;
$CardProjectInfoDescriptionBg: #DEFCF9;
$CardProjectInfoButtonBg: #577475;
$CardProjectInfoCardBg: #C4DCE0;